@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--Light-pink);
  font-family: "Work Sans", sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: -1;
  background-image: url("assets/images/background-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background: var(--White);
  max-width: 500px;
  margin-top: 360px;
  padding: 2.325rem;
  border-radius: 1rem;
}

h1 {
  display: inline;
  font-size: 3.5rem;
  margin-left: 1.2rem;
  color: var(--Dark-purple);
}

.header {
  margin-bottom: 15px;
}

.faq-container {
  padding: 15px 0;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.faq-container:last-child {
  border-bottom: none;
}

button {
  width: 100%;
  font-size: 0.976rem;
  font-weight: 600;
  text-align: left;
  color: var(--Dark-purple);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  border: none;
  background: none;
}

button:hover {
  color: rgb(179, 0, 179);
}

.faq-answer {
  color: rgb(168, 168, 168);
}

.faq-answer {
  display: none; /* Hide FAQ answers by default */
}

.faq-answer.show {
  display: block; /* Show the FAQ answer when the 'show' class is added */
}

.plus {
  display: block; /* Show the plus icon by default */
}

.minus {
  display: none; /* Hide the minus icon by default */
}

.plus.show {
  display: none; /* Hide the plus icon when 'show' is active */
}

.minus.show {
  display: block; /* Show the minus icon when 'show' is active */
}

@media (max-width: 460px) {
  body {
    background-image: url("assets/images/background-pattern-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .container {
    max-width: 375px;
    margin-top: 200px;
    padding: 1.5rem;
  }

  .attribution {
    margin-top: 10px;
    font-size: 14px;
  }
}
